
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_testLayot serkan</title>
</head>
<body>
    <div>
        serkan deneme
    </div>
    <br />
    <div> 
        @RenderBody();
    </div>
</body>
</html>
